* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* colors */
    --primary-color : #ffffff;
    --secondary-color : #000000;
    --accent1-color : #FCA311;
    --accent1-color-light: #f8b90dad;
    --bg-light-yellow: #FEF5E7;
    --bg-color-yellow: rgb(255, 238, 3);
    --accent2-color : #2C5784;
    --accent2-color-true: #034286;
    --accent2-color-darker : #01162c;
    --accent2-color-transparent : #2c5784b2;
    --bg-color1-platinum: #E5E5E5;

    /* font family */
    --font-family-roboto: "Roboto", sans-serif;
    --font-family-OpenSans:  "Open Sans", sans-serif;

    /* margins */
    --margin-top: 15px;
    --margin-bottom: 15px;

    /* box shadows */
    --shadow-of-container: 1px 1px 5px var(--accent2-color);
    --shadow-of-container-yellow: 1px 1px 5px var(--accent1-color);
    --shadow-of-container-type2: 0 1px 5px gray;


    /* image corner shape */
    --border-shape: 5px;
}

body {
    font-size: 1rem;
    color: var(--secondary-color);
    background-color: var(--primary-color);
    font-family: var(--font-family-roboto);
}

/* Header structure */
header {
    background-color: var(--accent1-color);
    display: grid;
    grid-template-columns: 1fr 1fr 3fr;
    align-items: center;
    justify-items: center;
}
#logo {
    max-height: 60px;
    grid-column: 2/3;
    grid-row: 1/2;
    border-radius: 5px;
    margin: 5px 0;
}

nav {
    display: flex;
    flex-direction: row;
    grid-column: 3/4;
    grid-row: 1/2;
    margin: 7px 0;
}

nav a {
    text-decoration: none;
    background: var(--primary-color);
    color: var(--secondary-color);
    padding: 5px 20px;
    border: 1px solid var(--accent1-color);
    font-size: 1.1em;
    font-weight: 500;
    align-self: flex-end;
}

nav a:hover {
    border: 1px solid var(--primary-color);
}


/* Text style, decorations */

h1, h2 {
    font-family: var(--font-family-OpenSans);
}

p {
    text-align: justify;
    /* font-optical-sizing: auto; */
    font-weight: 380;
    font-style: normal;
  }

a {
    text-decoration: none;
}


/* Hero container elements positionning and else */

.hero {
    position: relative;
    text-align: center;
    height: auto;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
    border-bottom: 2px solid var(--accent1-color);
}

.hero h1 {
    display: block;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translate(-50%);
    color: var(--accent1-color);
}

.hero article {
    display: block;
    padding: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 600px;
    color: var(--secondary-color);
    background-color: var(--accent1-color);
}

.hero article img {
    max-width: 30%;
    float: right;
    margin-left: 20px;
}

/* Sections of the body */

section {
    display: block;
    margin: 20px 10%;
}

section img {
    display: block;
    width: 400px;
    height: auto;
    margin: 10px 0;
}

figcaption {
    text-align: center;
}

#history {
    /* history box structure */
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1.5fr 1fr 1.5fr;
    gap: 10px;
    justify-items: center;
    align-items: start;

    /* border */
    /* border: 1px solid var(--accent1-color); */
    padding: 20px;
    box-shadow: var(--shadow-of-container);
}

#history h2 {
    grid-column: 1/4;
    grid-row: 1/2;
    align-self: center;
}

#history img {
    max-width: 130px;
}

/* Adventure awaits you pictures */
.rafting-pics {
    inline-size: 100%;
    block-size: 100%;
    object-fit: cover;
}

#adventures {
    display: grid;
    grid-template-columns: repeat(5, minmax(20px, 1fr));
    grid-template-rows: auto auto;
    margin-top: 50px;
    justify-items: center;
    align-items:end;
    gap: .6rem;

    /* margin padding and borders */
    padding: 20px;
    box-shadow: var(--shadow-of-container);
}

#adventure-slogan {
    grid-column: 1/6;
}


/* Footer */

footer {
    height: auto;
    border-top: 1px solid var(--accent1-color);
    padding-top: 7px;
    padding-bottom: 7px;
    background-color: var(--accent1-color);

    /* text */
    color: var(--secondary-color);

    /* grid properties */
    display: grid;
    grid-template-columns: repeat(auto-fit, 1fr);
    align-items: center;
}

footer p {
    justify-self: self-end;
}

footer a {
    text-decoration: none;
    color: var(--secondary-color);
}

#wireframe-link {
    background-color: white;
    border: 1px solid white;
    padding: 0.3rem ;
    font-weight: 500;
    color: var(--accent2-color);
    border-radius: var(--border-shape);
}

footer img:hover{
    background-color: var(--primary-color);

}

.sociallinks {
    grid-column: 3/4;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.sociallinks img {
    display: inline-block;
    height: 30px;
    padding: 5px;
    margin: 0 5px;
    border: 1px solid white;
    border-radius: 50%;
}


/* || Contact Us page */

/* Typography */
label, legend {
    font-size: 1em;
    font-weight: 600;
}

.purpose-label, p{
    font-weight: 400;
    font-size: 1em;
}

#adress > h2 {
    color: var(--accent2-color);
}

/* Happy employee pictures */
#emplo-pics {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
    gap: 10px;
}

.employee-pic-container {
    position: relative;
    box-shadow: var(--shadow-of-container);
    border-radius: var(--border-shape);
}

#employee1 {
    grid-column: 2/3;
}

.img-employee {
    border-radius: var(--border-shape);
    inline-size: 100%;
    block-size: 100%;
    object-fit: cover;
    z-index: -3;
 }

.job-title {
    z-index: 1;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 0.5rem;
    /* border-radius: var(--border-shape); */
    border-bottom-right-radius: var(--border-shape);
    border-bottom-left-radius: var(--border-shape);
    font-size: 1.3em;
    font-weight: 700;
    text-align: center;
    color: white;
    background-color: var(--accent2-color-transparent);
}


/* Banner title Contact Us formatting */
#banner-contact-us {
    width: 100%;
    height: 4rem;
    background-color: var(--accent2-color);
    border: none;
    color: white;
    font-weight: 600;
    font-size: 2em;
    margin: 1rem 0;
    /* display */
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Form formatting */
fieldset {
    border: none;
}

fieldset input, textarea {
    padding: 0.3rem;
    border-radius: 5px;
    margin-top: 0.5rem;
    font-size: 1.3em;
    font-weight: 400;
}

.p-container {
    width: 100%;
    height: auto;
}

#incitation-msg {
    width: 95%;
    height: auto;
}

#form-struct {
    width: 100%;
    padding: 1rem 5rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, minmax(50px, auto));
}

.user-contact-form {
    width: 95%;
    grid-column: 2/3;
    grid-row: 1/-1;
    display: grid;
    gap: 13px;
    align-items: center;
    justify-self: end;
}

#usr-name {
    display: grid;
    grid-template-columns: repeat(2, minmax(100px, 1fr));
    gap: 4rem;
}

input[type="radio"], input[type="checkbox"] {
    margin: 0 0.35rem;
    width: 14px;
    height: 14px;
    vertical-align: baseline;
}

.usr-input {
    display: flex;
    flex-direction: column;
}

#subscribe {
    margin-top: .4rem;
    margin-bottom: 1rem;
}

button {
    max-width:max-content;
    font-size: 1.2em;
    font-weight: 700;
    background-color: var(--accent2-color);
    color: white;
    border: 1px solid var(--accent2-color);
    padding: 0.3rem 0.7rem;
    border-radius: var(--border-shape);
}
button:hover {
    cursor: pointer;
    background-color: var(--accent2-color-true);
}
button a {
    color: white; 
    text-decoration: none;
}

/* Adress of the company section */

/* Google map item formatting */
.iframe-container {
    width: 100%;
    min-width: 200px;
    height: 90%;
    min-height: 130px;
    margin-bottom: 1rem;
    grid-row: -3/-2;
    align-self: self-end;

    position: relative;
}
.iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 95%;
    height: 100%;
    border: 0;
}
#adress {
    grid-row: -2/-1;
}


/*|| Home Page CSS */

.intro-homepage, #instr {
    margin-left: 3rem;
    margin-right: 3rem;
}

/* Homepage Typography */
#msg-headn > h1 {
    position: relative;
    font-size: 3rem;
    color: var(--accent2-color);
}
#msg-headn span {
    display: block;
    text-transform: capitalize;
    font-size: 2rem;
    font-weight: 500;
    color: var(--accent2-color);
}
p {
    /* text-transform: ; */
    font-size: 1.1rem;
    font-weight: 400;
    text-align: justify;
}
h3 {
    font-size: 1.3rem;
    font-weight: 700;
    text-transform: capitalize;
    color: var(--secondary-color);
    text-align: center;
}
.instr--h2, .intro-homepage h2 {
    align-self: center;
    font-size: 1.8rem;
    height: auto;
    width: 100%;
    padding: .3rem;
    background-color: var(--accent1-color);
    color: var(--secondary-color);
    text-align: center;
}

/* | Hero section | */
#hero-homepage {
    width: 100%;
    position: relative;
}
#hero-homepage img {
    border: 0;
}
#msg-exc {
    border-bottom: 0;
    position: absolute;
    z-index: 4;
    width: 100%;
    bottom: 2rem;
    display: grid;
    grid-template-columns: 5fr 2fr;
    align-items: end;
    gap: 3rem;
    /* border: 1px solid black; */
}
#msg-exc button {
    justify-self: center;
    margin-bottom: 6px;
}
#msg-headn {
    justify-self: center;
    display: flex;
    flex-direction: column;
    justify-content: right;
    text-align: left;
}
.blur-bottom-hero-banner {
    position: absolute;
    bottom: -30px;
    /* border: 1px solid green; */
    height: 120px;
    width: 100%;
    background: linear-gradient(to top, 
        white, 
        rgba(255, 255, 255, 0.601),
        rgba(255, 255, 255, 0.303),
        rgba(255, 255, 255, 0.1));
    z-index: 2;
}

/* Instructions sections */
#instr {
    padding: 2rem 0;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    /* gap: .2rem; */
}
#instr img {
    border-radius: 1.4rem;
    inline-size: 100%;
    block-size: 100%;
    object-fit: cover;
    padding: 1rem;
    margin: 1rem 0;
    align-self: center;
}
.instr-sections{
    display: grid;
    grid-template-columns: 3rem 1fr 2rem 1fr 3rem;
    grid-template-rows: 3rem 1fr 2rem 1fr 3rem;
    padding: 1rem;
    /* align-items: center; */
    justify-items: center;
    /* box-shadow: var(--shadow-of-container-yellow); */
}
.instr-h3 {
    grid-row: 1/2;
    align-self: center;
}
.instr-p {
    align-self: self-start;
    grid-row: 2/6;
}
.section1 p, .section1 h3 {
    grid-column: 2/3;
}
.section2 p, .section2 h3 {
    grid-column: 4/5;
}
.instr-img1 {
    grid-column: 4/5;
    grid-row: 1/6;
}
.instr-img2 {
    grid-column: 2/3;
    grid-row: 1/6;
}

/*| More than just a thrill part |*/

.thrill-container {
    max-height: 500px;
    /* border: 1px solid red; */
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(7, 1fr);
}
#img-s {
    grid-column: 2/6;
    grid-row: 2/-2;
}
#img-s img {
    inline-size: 100%;
    block-size: 100%;
    object-fit: cover;
    box-shadow: var(--shadow-of-container);
}
.thrill-container {
    background-color: var(--accent1-color-light);
}
#thrill-txt-container {
    background-color: var(--accent1-color);
    padding: 1rem 2rem;
    grid-column: 5/9;
    grid-row: 3/6;
    text-align: center;
    /* box-shadow: 1px 2px 6px var(--accent1-color); */
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
}
#thrill-txt-container button{
    margin-top: .3rem;
}

/*|| Trips Page CSS ||*/

/*| Hero banner of Trips |*/
.experience-type, .trips-type h2 {
    text-transform: uppercase;
}
.trips-type>h2 {
    font-size: 23px;
}
.experience-type {
    font-size: 0.9rem;
    font-weight: 700;
}

/* trips main */
#main-part2 {
    margin: 0 3rem;
}

/* Button */
#trips-hero-button {
    position: absolute;
    bottom: 1rem;
    right: 3rem;
    z-index: 7;
}

/* intro section */
.intro-sec, .intro-homepage {
    margin-top: 45px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    
}



/* Sections of the different types of trips */
.trips-sections {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    align-items: start;
    justify-self: center;
}
.trips-type {
    /* border: 1px solid black; */
    padding: 0 0 1rem 0;
    display: grid;
    grid-template-rows: 220px 2rem 2rem 200px auto;
    gap: 0.4rem;
    box-shadow: var(--shadow-of-container-type2);
}
.trips-type:first-child {
    background-color: var(--accent1-color);
}
.experience-type, .trips-type h2, .trips-type ul, .trips-type p {
    margin: 0 1.5rem;
}
.trips-type:first-child p, .trips-type:first-child h2, .trips-type:first-child li {
    color: var(--secondary-color);
}
.experience-type {
    color: var(--secondary-color);
}
.trips-type p {
    text-align: left;
}
.trips-type:not(:first-child) h2 {
    color: rgb(0, 0, 0);
}
.trips-type ul {
    list-style-type: none;
    margin-bottom: 2rem;
    margin-top: 1rem;
    display: flex;
    gap: 5px;
    flex-direction: column;
}
.trips-type button {
    align-self: center;
    justify-self: left;
    margin-left: 1.5rem;
}
.trips-type-img-container {
    height: 200px;
}
.trips-type-img-container img {
    inline-size: 100%;
    block-size: 100%;
    object-fit: cover;
    margin: 0;
}
.trips-type ul>li {
    display: flex;
    flex-direction: row;
    align-items: center;
}
li>img {
    display: inline-block;
    width: 1.5rem;
    padding: 0;
    margin: 0 .3rem 0 0;
}

/*[ Table codes ]*/

.table-container {
    margin: 3rem 0;
    padding: 0 2rem;
    /* border: 1px solid blue; */
}
#table-content {
    margin: 0 auto;
    border-collapse: collapse;
    /* border: 2px solid black; */
}

/* Table head */
#table-content thead th {
    text-align: left;
    text-transform: uppercase;
    font-size: 1.2rem;
}
#table-content thead {
    background-color: var(--accent1-color);
}

/* body of the table */
#table-content tbody {
    background-color: var(--accent1-color-light);
}
#table-content tbody th, #table-content td {
    font-size: 1em;
    padding: .3rem 1.3rem;
}
#table-content tr {
    padding: 1rem;
    height: 50px;
}
.table--1st-col {
    text-align: left;
    text-transform: capitalize;
}

/* Table footer */
#table-content tfoot {
    height: 50px;
    border-bottom: 1px solid var(--accent1-color-light);
}
#table-content tfoot a {
    text-transform: uppercase;
    text-decoration: none;
    color: var(--accent2-color-true);
    font-weight: 600;
    margin-top: 2rem;
    position: relative;
}
#table-content tfoot a:hover {
    width: auto;
    padding: 0.3rem 1rem;
}